---
title: "Virtual DevOps Automation Workshops"
description: "Join us live for a 3-hour virtual hands on workshop and uncover how the most effective IT teams leverage GitLab to automate their DevOps process and achieve cutting-edge results."
layout: default
suppress_header: true
extra_css:
  - faq.css
  - event-commit.css
  - event-roadshow.css
  - simplify-devops.css
extra_js:
  - libs/on-scroll.js
  - in-page-nav.js
  - all-clickable.js
  - simplify-devops.js
---
.hero-video-container#hero-video-container
  %iframe#hero-video{ src: "", allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", frameborder: "0", allowfullscreen: "1" }

.blank-header.commit-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    = image_tag "/images/devops-tools/gitlab-logo.svg", class: "hero-small", alt: "Gitlab logo"
    %h3 Universal Remote: Juggling Video Calls & Sweat Pant Pitfalls
    %p Join us for GitLab's new weekly webcast, Universal Remote: Juggling Video Calls & Sweat Pant Pitfalls.
    
.gitlab-content-container.commit-content-container
  .content.commit-content

    .js-in-page-nav-group{ role: "main", offset: 56, showhash: "true" }
      .container
        .row.u-margin-top-lg.video-gitlab-explained-container
          -#.video-thumb-container{ "data-videourl": "https://www.youtube.com/embed/VBxnxJqWo3o?autoplay=1&rel=0" }
            .video-thumb
            .video-play-container
              = partial "includes/simplify-devops/thumbnail-video-play-white", locals: { caption: "GitLab Commit 2019" }
          .col-md-6.u-padding-left-sm.u-padding-right-sm.text-left
            .video-intro-copy.u-margin-top-xs
              %p In these 30-minute sessions, we'll break down some of the best how-tos and share what other all-remote teams are doing to achieve balance, grow productivity, and maintain sanity during these crazy times. 
              %p We'll feature fascinating segments including:
              %ul.text-left
                %li ART (All Remote Team) Cribz: describe your “home office”
                %li What are your environment/remote tooling favorites?
                %li Discuss (or dissect) a hack-of-the-week
                %li Interview with a remote manager
                %li “What is a DRI?” and other questions you were afraid to ask
                %li Your weekly moment of Zen
              %p Check back here for future dates and topics:
              %ul.text-left
                %li Episode 1: Finding Balance & Preventing Burnout (April 16)
                %li Episode 2: Tech Overload and Tooling Tips (April 22)
                %li Episode 3: The New Desk Jockeys (April 29)
